<h2 class="page-title">This Week's Recipes</h2>
<div class="page-content">
  <%= render partial: "application/weekday_recipes", locals: {weekday_recipes: @weekday_recipes} %>
</div><!-- .page-content -->
