<h2>Grocery List</h2>
<div class="page-content">
  <ul class="grocery-list">
    <% @list_items.map(&:name).uniq.each do |name| %>
      <li class="grocery-item well"><b class="name"><%= name %></li>
    <% end %>
  </ul>
</div><!-- .page-content -->


