<h2>Grocery List</h2>
<div class="page-content">
<ul class="grocery-list">
<% @ingredients.each do |ingredient| %>
      <li><b class="name"><%= ingredient.name %></b> - <%= ingredient.brand %></li>
<% end %>
</ul>
</div><!-- .page-content -->


