<h2>Grocery List</h2>
<div class="page-content">
  <ul class="grocery-list">
    <% @list_items.each do |ingredient| %>
      <li><b class="name"><%= ingredient %></li>
    <% end %>
  </ul>
</div><!-- .page-content -->


