<h2><%= @recipe.name %></h2>
<div class="page-content">
  <% @recipe.ingredients.each do |ingredient| %>
  <ul>
    <li><%= ingredient.name %> - <%= ingredient.brand %></li>
  </ul>
  <% end %>

  <p>[ Some IMG Goes Here ]</p>
  <h3>Instructions: </h3>
  <p><%= @recipe.directions %></p>
  <p>Nutrition Info here</p>
</div>
