<!-- logged out recipe search -->
<h1 class="page-title hidden">Welcome</h1>

  <div class="well col-md-8 col-lg-6">
    <section class="home search-form form-inline">
      <h2>Search Recipes</h2>
        <%= render "search_recipes_form" %>
    </section><!-- .search-form -->
  </div>
  <div class="col-md-4 col-lg-6" id="banner" class="site-intro">
    <%= render "banner" %>
  </div><!--#banner-->
</div><!-- row-->

<div class="row">
  <div class="page-content col-lg-12">
    <section class="search-results">
      <% if user_signed_in? %>
        <div class="logged-in"><%= render partial: "application/recipe_list", locals: {recipes: @recipes} %></div>
      <% else %>
        <%= render partial: "application/recipe_list", locals: {recipes: @recipes} %>
      <% end %>
    </section><!-- .search-results -->
  </div><!-- .page-content -->
</div><!--.row-->