/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* global styles */

.site-wrapper {
  width:95%;
  margin:0 auto;
}

section {
  clear:both;
  padding-bottom:1em;
}



.form-group {
  overflow:hidden;
}
input.form-control {
  display:block;
  float:left;
  width:60%;
}
input[type="submit"].btn.btn-default {
  display:block;
  float:right;
  width:38%;
}

.grid-list .img-thumbnail img {
  max-width:100%;
}

.grid-list header {
  text-align:center;
}

.grid-list h3 {
  margin-top:0;
  margin-bottom:0.5em;
}

.grid-list .add-opt span {
  position:relative;
  display:block;
  background:green;
  width:25px;
  height:25px;
  overflow:hidden;
}

.grocery-list .grocery-item.well {
  min-height:0;
  display:block;
  padding:0.85em;
  margin-top:0;
  margin-bottom:5px;
}

@media screen and (min-width:400px) {
  .grocery-list .grocery-item.well {
    max-width:400px;
  }
}

@media screen and (min-width: 600px) {
  form {
    max-width:550px;
  }
  .grid-list {
    display:block;
    width:auto;
    margin:0 auto;
  }
  .grid-list li {
    display:inline-block; 
    vertical-align:top;
    max-width:250px;  
    margin-right:1em;
  }

}

@media screen and (min-width: 1200px) {

}



