/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* global styles */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
* {border-radius:0 !important;}
body {
  width:auto;
 /* margin:0 5%;*/
 /* max-width:2000px;*/

}

img {
  max-width:100%;
  display:block;
}

.navbar-brand i ,
h1 i,
.navbar-default .navbar-nav li.dropdown .dropdown-toggle {
  color:#1CBA92;
}

.navbar-default .navbar-nav li a,
.lead {
  color:#999;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a  {color:#1CBA92; font-family: 'Raleway', sans-serif; font-weight:400;}
h1, h1 a {color:#fff;}

section {
  clear:both;
  padding-bottom:1em;
}

label {
  font-weight:normal;
  color:#ddd;
}

#banner {
  display:none;
  margin:0;
}

.content {
  padding-left:15px;
  padding-right:15px;
  overflow:hidden;
}

.well.feature-recipe {
  margin-left:-15px;
}
.form-group {
  overflow:hidden;
}
input[type="submit"].btn.btn-default {

}
.row {
  margin-left:0;
  margin-right:0;
  /* both of these were -15*/
}
.container {
  padding:0;
  margin:0;
  width:100%;
  overflow:visible;
}

input {
  vertical-align:top;
}

input, 
.button-cluster {
  margin-top:1em;
  display:block;
}
.form-inline.home .form-control {
  margin-bottom:1em;
  display:block !important;
  width:100%;
}
.form-inline.home .submit.form-group {
}
.navbar-form.navbar-left {display:none;}
.form-inline.search-recipes input,
.form-inline.search-recipes label {
  display:inline;
}
.search-recipes .input-group.radios .input-group-addon {
  margin-left:0; padding-left:0;
  background:transparent;
  border:none;
}
.search-recipes input[type="radio"] {
  margin-right:5px;
  width:10px;
}
.button-cluster .submit.form-group {
  float:left;
  margin-right:10px;
}



.button-cluster {
  list-style:none;
  padding:0; 
  margin:0;
}

.grid-list {
  list-style:none;
  padding:0;
  margin:0;
  display:inline-block;
  text-align:justify;
}

.grid-list li {
  background:#333;
  margin-bottom:1em;
  -webkit-box-shadow: inset 0 0  6px #000000;
  -moz-box-shadow: inset 0 0   6px #000000;
  box-shadow: inset 0 0 6px #000000;
}

.grid-list .item {
  padding:1em;
}
/*
.grid-list .item:hover {

      -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}*/

.grid-list .thumbnail {
  background:#333;
}

.grid-list .img-thumbnail {
  border:0;
  padding:0;
  position:relative;
  top:-20px;
  z-index:0;
  display: inline-block;
  margin: 0 0 10px;
  border: 1px solid #000;
  -webkit-box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.grid-list img {
  display:block;
}
.grid-list header {
  text-align:center;
}

.grid-list article {
  margin-bottom:0;
}

.grid-list form {
  display:inline-block;
}

.grid-list h3 a ,
.grid-list h3 {
  font-size:1em;
  color:#eee;
  text-align:center;
  vertical-align:baseline;
}

.grid-list h3 {
  min-height:1.5em;
  font-size:1.3em;
  vertical-align:center;
  padding:0;
  margin:1em 0;
}
.logged-in .grid-list .overlays {
  position:relative;

}
.logged-in .grid-list .overlays span {
  background:rgba(0,0,0,0.55);
  overflow:hidden;
}

.logged-in .grid-list .overlays .glyphicon {
  font-size:25px;
  line-height:25px;
  padding:10px;
  position:absolute;
  z-index:2;
  color:#fff;
}
.add-to-week {
  /*background:#000;*/
  margin:0 auto;
  padding:10px;
  border-radius:10px;
}
.add-to-week.inline-form {
  text-align:center;
  margin:0 auto;
  width:90%;
}
.add-to-week .btn.btn-info {
  padding:5px;
  margin-top:-5px;
}
.logged-in .grid-list .overlays .right {
  position:absolute;
  right:0;
  cursor:pointer;
  text-align:right;
}

.logged-in .grid-list .overlays .left{
  text-align:left;
  cursor:pointer;
  left:0;
}
.logged-in .grid-list .overlays .glyphicon.glyphicon-ok {
  cursor:auto;
  text-align:left;
  color:#92D115;
}
.logged-in .grid-list .overlays .glyphicon.glyphicon-star {
  color:#ff8800;
  } 
.logged-in .grid-list .overlays .glyphicon.glyphicon-plus-sign,
.logged-in .grid-list .overlays .glyphicon.glyphicon-star.not-faved,
.logged-in .grid-list .overlays .glyphicon.glyphicon-plus-sign {
  color:#fff !important;
  z-index:2;
}
.logged-in .grid-list button:focus {
  background:none;
  border-image:none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border:none;
}
.logged-in .grid-list button {
  background:transparent;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  padding:0;
  margin:0;
  color:#fff;
  text-shadow:none;
  border:none;
  padding:0;
}

.grocery-list .grocery-item.well {
  min-height:0;
  display:block;
  padding:0.85em;
  margin-top:0;
  margin-bottom:5px;
}



@media screen and (min-width:350px) {
  .grocery-list .grocery-item.well {
    max-width:350px;
  }
  .grid-list {
  }
  .grid-list li {
    max-width:350px;
  }
}

@media screen and (min-width: 600px) {
  #banner {display:block;}
  form {
    max-width:550px;
  }
  .grid-list {
    display:block;
    width:auto;
    margin:auto;
  }
  .grid-list li {
    display:inline-block; 
    vertical-align:top;
    max-width:250px;  
    margin-right:1em;

  }
  .full-recipe .ingredients-list {
    float:left;
    max-width:275px;
  }
    .full-recipe .thumbnail {
    float:right;
    max-width:300px;
  }
}

@media screen and (min-width:850px) {
  .full-recipe .ingredients-list {
    float:left;
    max-width:350px;
  }
    .full-recipe .thumbnail {
    float:right;
    max-width:450px;
  }
  .site-intro#banner h1 {
  font-size:4em;
}
}

@media screen and (min-width: 1200px) {
  .full-recipe .ingredients-list {
    max-width:500px;
  }
  .full-recipe .thumbnail {
    max-width:500px;
  }
}


