/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* global styles */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

body {
  width:auto;
  margin:0 5%;
  max-width:2000px;

}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a  {font-family: 'Raleway', sans-serif; font-weight:400;}

section {
  clear:both;
  padding-bottom:1em;
}

.form-group {
  overflow:hidden;
}
input.form-control {
  display:block;
  float:left;
}
input[type="submit"].btn.btn-default {

}

.grid-list .img-thumbnail img {
  max-width:100%;
}

.grid-list header {
  text-align:center;
}

.grid-list h3 a {
  margin-top:0;
  margin-bottom:0.5em;
  font-size:16px;
  color:#fff;
}
.logged-in .grid-list .overlays {
  position:relative;
}
.logged-in .grid-list p {
  margin-top:-55px; /* 35 */
/*}
.logged-in .grid-list .overlays .glyphicon {
  font-size:25px;
  line-height:25px;
  color:brown;
  background:#fff;
  padding:10px;
  border-radius:50%;

}
.logged-in .grid-list .overlays .right {
  position:absolute;
  right:16px;
  top:32px;
  cursor:pointer;
}
.logged-in .grid-list .overlays .left {
  left:16px;
  top:32px;
  cursor:pointer;
}
.logged-in .grid-list .overlays .add-opt .left {
  left:10px;
}
.logged-in .grid-list button:focus {
  background:none;
  border-image:none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border:none;

}
.logged-in .grid-list button {
  background:transparent;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  padding:0;
  margin:0;
  color:#fff;
  text-shadow:none;
  border:none;
  padding:0;
}

.grocery-list .grocery-item.well {
  min-height:0;
  display:block;
  padding:0.85em;
  margin-top:0;
  margin-bottom:5px;
}



@media screen and (min-width:350px) {
  .grocery-list .grocery-item.well {
    max-width:350px;
  }
  .grid-list {

  }
  .grid-list li {

    max-width:350px;
  }
}

@media screen and (min-width: 600px) {
  form {
    max-width:550px;
  }
  .grid-list {
    display:block;
    width:auto;
    margin:0 auto;
  }
  .grid-list li {
    display:inline-block; 
    vertical-align:top;
    max-width:250px;  
    margin-right:1em;
  }
  .full-recipe .ingredients-list {
    float:left;
    max-width:275px;
  }
    .full-recipe .thumbnail {
    float:right;
    max-width:300px;
  }
}

@media screen and (min-width:850px) {
  .full-recipe .ingredients-list {
    float:left;
    max-width:350px;
  }
    .full-recipe .thumbnail {
    float:right;
    max-width:450px;
  }
}

@media screen and (min-width: 1200px) {
  .full-recipe .ingredients-list {
    max-width:500px;
  }
  .full-recipe .thumbnail {
    max-width:500px;
  }
}



*/