<footer id="footer" class="site-footer">
  <div class="vcard adr" role="contentinfo">
    <p id="copyright" class="url fn org">Copyright</a> &copy; <%= Time.now.year %> <a href="/" class="url fn org">RecipEase/GrocerEase</a></p>
    <nav class="site-info" role="navigation">
     <ul>
       <li><a href="#">Contact</a></li>
     </ul>
    </nav>
  </div> <!-- .vcard -->
  <div class="attribution">
    <p id="nutritionix-attribution">Powered by <a href="http://www.nutritionix.com/api">Nutritionix API</a></p>
  </div>
</footer>
