<li class="first"><%= link_to "Search All Recipes", "/", :id => "search" %></li>
<li><%= link_to "My Recipes", user_recipes_path(current_user),  :id => "_recipes" %></li>
<li><%= link_to "My Grocery List", user_grocerylist_path(current_user, 1), :id => "_grocerylists" %></li>
<li><%= link_to "My Week", user_scheduled_recipes_path(current_user), :id => "_scheduled_recipes" %></li>
