<li class="first"><%= link_to "Sign up", new_user_registration_path, :id => "sign-up", :class => "navbar-link" %></li>
<li class="first"><%= link_to "Login", new_user_session_path, :id => "login", :class => "navbar-link" %></li>