<%= form_tag recipes_path, class: "form-inline form search-recipes", role: "form", method: 'get' do %>
    <div class="form-group">

      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control search" %>
        <span class="input-group-btn"><%= button_tag "Search Recipes", type: "submit", class: "btn btn-warning" %></span>
      </div><!--.input-group -->
      
  </div><!--.form-group-->
<% end %>
