 <li><%= link_to "My Account", edit_user_registration_path, :id => "my-account", :class => "navbar-link" %> </li>
 <li class="divider"></li>
<li class="last"><%= link_to "Logout", destroy_user_session_path, method: :delete, :id => "logout", :class => "navbar-link"  %></li>